<table class="table" style="background-color: #eff1f2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Deadline</th>
      <th scope="col">Completed?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= task.task %></td>
      <td><%= task.deadline %></td>
      <td><%= task.completed %></td>
    </tr>
  </tbody>
</table>
