<p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
  <i class="fas fa-check-square me-1"></i>
  Get organized with Todo!
</p>

<div class="jumbotron">
  <p class="lead" style="text-align: center;">Todo helps you get through your day by allowing you to easily create and manage your tasks! </p>

  <hr class="my-4">
  
  <p class="lead" style="text-align: center;">
  	<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
  </p>
</div>